@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }

  body {
    line-height: 1;
  }

  ol,
  ul {
    list-style: none;
  }

  blockquote,
  q {
    quotes: none;
  }

  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  html.lenis {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }

  :root {
    --paragraph: rgba(148, 161, 178, 1);
    --primary-background: rgba(22, 22, 26, 1);
    --secondary-background: rgba(36, 38, 41, 1);
    --main: rgba(255, 255, 254, 1);
    --secondary: rgba(114, 117, 126, 1);
    --stroke: rgba(1, 1, 1, 1);
    --highlight: rgba(255, 99, 0, 1);

    --z-header: 100;
    --z-loader: 150;
    --z-networks: 10;

    --font__titleBorder: 4.75rem;
    --font__titleStack: 3.5rem;
    --font__title: 0.75rem;
    --font__text: 1.5rem;
  }

  @media screen and (min-width: 768px) {
    :root {
      --font__titleBorder: 8rem;
    }
  }

  @media screen and (min-width: 1024px) {
    :root {
      --font__titleStack: 6rem;
    }
  }

  @media screen and (min-width: 1280px) {
    :root {
      --font__titleBorder: 10rem;
    }
  }

  @media screen and (min-width: 1536px) {
    :root {
      --font__titleBorder: 12rem;
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --paragraph: rgba(148, 161, 178, 1);
      --primary-background: rgba(22, 22, 26, 1);
      --secondary-background: rgba(36, 38, 41, 1);
      --main: rgba(255, 255, 254, 1);
      --secondary: rgba(114, 117, 126, 1);
      --stroke: rgba(1, 1, 1, 1);
      --highlight: rgba(255, 99, 0, 1);
    }
  }

  body {
    color: var(--paragraph);
    background-color: var(--primary-background);
  }
}
